<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Recommendations | YouTube, The Great Radicalizer?</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <!-- <script>const PAGE_NAME = 'explore';</script> -->
    <!--(bake /src/includes/head.html)-->

</head>

<body>

    <!--(bake /src/includes/header.html)-->

    <article class="section">
        <div class="container is-max-desktop has-text-centered">
            <a class="subtitle has-text-danger has-text-weight-bold mb-3">Daily Top Recommendations</a>
            <p>
                See what YouTube's recommendations look like every day for left and right political ideology users ranked by frequency of appearance.
            </p>
        </div>
    </article>

    <article class="section" id="app">
        <div class="container is-max-desktop top-controls">

            <div class="is-flex is-justify-content-space-around is-align-items-center is-flex-wrap-wrap">
                <div class="is-flex is-align-items-center mt-1">
                    <span class="has-text-danger mr-2">Date</span>
                    <div class="control datepicker has-icons-left" v-if="dates">
                        <span class="icon is-small is-left">
                            <i class="fas fa-calendar"></i>
                        </span>
                        <vuejs-datepicker v-model="selectedDate" class="input" @selected="loadDate" :use-utc="true" :disabled-dates="disabledDates"></vuejs-datepicker>
                    </div>
                </div>
                <div class="is-flex mt-1">
                    <div class="control ml-auto mr-5">
                        <label class="checkbox">
                            <input type="checkbox" v-model="removeCommon">
                            Remove common videos
                        </label>    
                    </div>
                    <div class="control mr-5">
                        <label class="checkbox">
                            <input type="checkbox" v-model="removeNoSlant">
                            Remove videos with no slant
                        </label>    
                    </div>
                </div>
                
                <div class="control mt-1">
                    <button @click="download()" class="button" :disabled="!topVideos">
                        <span class="icon is-small">
                            <i class="fas fa-download"></i>
                        </span>
                        <span>Download</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="container is-fluid mt-6">
            <div v-if="topVideos" class="columns top-videos">
                <div class="column is-flex is-align-items-center is-flex-direction-column">
                    <h2 class="subtitle">Left</h2>
                    <youtube-video :video-id="video" v-for="video in leftVideos" :key="video"
                        :metadata="topVideos.metadata[video]" :slant="topVideos.slants[video]" class="mt-6"></youtube-video>
                </div>
                <!-- <div class="column">
                    <h2 class="subtitle">Center-left</h2>
                    <youtube-video :video-id="video" v-for="video in centerLeftVideos" :key="video"
                        :metadata="topVideos.metadata[video]" :slant="topVideos.slants[video]" class="mt-6"></youtube-video>
                </div> -->
                <!-- <div class="column">
                    <h2 class="subtitle">Center</h2>
                    <youtube-video :video-id="video" v-for="video in centerVideos" :key="video"
                        :metadata="topVideos.metadata[video]" :slant="topVideos.slants[video]" class="mt-6"></youtube-video>
                </div> -->
                <!-- <div class="column">
                    <h2 class="subtitle">Center-right</h2>
                    <youtube-video :video-id="video" v-for="video in centerRightVideos" :key="video"
                        :metadata="topVideos.metadata[video]" :slant="topVideos.slants[video]" class="mt-6"></youtube-video>
                </div> -->
                <div class="column is-flex is-align-items-center is-flex-direction-column">
                    <h2 class="subtitle">Right</h2>
                    <youtube-video :video-id="video" v-for="video in rightVideos" :key="video"
                        :metadata="topVideos.metadata[video]" :slant="topVideos.slants[video]" class="mt-6"></youtube-video>
                </div>
            </div>
            <div class="has-text-centered">
                <button @click="loadMore()" class="button" :disabled="loadedAll">
                    <span class="icon is-small">
                        <i class="fas fa-angle-down"></i>
                    </span>
                    <span>Load more</span>
                </button>
            </div>
        </div>

    </article>


    <!--(bake /src/includes/footer.html)-->

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuejs-datepicker@1.6.2/dist/vuejs-datepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.0/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/plugin/relativeTime.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/plugin/utc.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/plugin/customParseFormat.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/numeral@2.0.6/numeral.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.5/dist/FileSaver.min.js"></script>
    <script src="../common/js/api.js"></script>
    <script src="../common/js/scripts.js"></script>
    <script src="../common/components/youtube-video.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
