<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Recommendations | YouTube, The Great Radicalizer?</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script>const PAGE_NAME = 'explore';</script>
    <!--(bake /src/includes/head.html)-->

</head>

<body>

    <!--(bake /src/includes/header.html)-->

    <article class="section">
        <div class="container is-max-desktop has-text-centered">
            <a class="subtitle has-text-danger has-text-weight-bold mb-3">Daily Top Recommendations</a>
            <p>
                See what YouTube's recommendations look like every day for left, center, and right political ideology users.
            </p>
        </div>
    </article>

    <article class="section" id="app">
        <div class="container is-max-desktop">

            <div class="is-flex is-justify-content-space-around">
                <div class="is-flex is-flex-direction-column is-align-items-center">
                    <span class="has-text-danger mb-1">Collection Date</span>
                    <div class="control datepicker has-icons-left" v-if="dates">
                        <span class="icon is-small is-left">
                            <i class="fas fa-calendar"></i>
                        </span>
                        <vuejs-datepicker v-model="selectedDate" class="input" @selected="loadDate" :use-utc="true" :disabled-dates="disabledDates"></vuejs-datepicker>
                    </div>
                </div>
            </div>
            <br>
            <div class="is-flex is-justify-content-space-evenly">
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox" v-model="removeCommon">
                        Remove common videos
                    </label>    
                </div>
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox" v-model="removeNoSlant">
                        Remove videos with no slant
                    </label>    
                </div>
            </div>
        </div>
        
        <br><br><br>

        <div class="container is-fluid mt-6">
            <div v-if="topVideos" class="columns top-videos">
                <div class="column">
                    <h2 class="subtitle">Left</h2>
                    <youtube-video :video-id="video" v-for="video in leftVideos" :key="video"
                        :metadata="topVideos.metadata[video]" :slant="topVideos.slants[video]" :hide-unks="removeNoSlant" class="mt-6"></youtube-video>
                </div>
                <!-- <div class="column">
                    <h2 class="subtitle">Center-left</h2>
                    <youtube-video :video-id="video" v-for="video in centerLeftVideos" :key="video"
                        :metadata="topVideos.metadata[video]" :slant="topVideos.slants[video]" :hide-unks="removeNoSlant" class="mt-6"></youtube-video>
                </div> -->
                <div class="column">
                    <h2 class="subtitle">Center</h2>
                    <youtube-video :video-id="video" v-for="video in centerVideos" :key="video"
                        :metadata="topVideos.metadata[video]" :slant="topVideos.slants[video]" :hide-unks="removeNoSlant" class="mt-6"></youtube-video>
                </div>
                <!-- <div class="column">
                    <h2 class="subtitle">Center-right</h2>
                    <youtube-video :video-id="video" v-for="video in centerRightVideos" :key="video"
                        :metadata="topVideos.metadata[video]" :slant="topVideos.slants[video]" :hide-unks="removeNoSlant" class="mt-6"></youtube-video>
                </div> -->
                <div class="column">
                    <h2 class="subtitle">Right</h2>
                    <youtube-video :video-id="video" v-for="video in rightVideos" :key="video"
                        :metadata="topVideos.metadata[video]" :slant="topVideos.slants[video]" :hide-unks="removeNoSlant" class="mt-6"></youtube-video>
                </div>
            </div>
        </div>
    </article>


    <!--(bake /src/includes/footer.html)-->

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuejs-datepicker@1.6.2/dist/vuejs-datepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.0/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/plugin/relativeTime.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/plugin/utc.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/plugin/customParseFormat.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/numeral@2.0.6/numeral.min.js"></script>
    <script src="../common/js/api.js"></script>
    <script src="../common/js/scripts.js"></script>
    <script src="../common/components/youtube-video.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
